body {
	font-family: "Helvetica";
	background-color : black;
	color : #0d96f2;
}

a:link {
	color: #0d96f2;
	text-decoration: none;
}

a:visited {
	color: #4d8ab3;
	text-decoration: none;
}

a:hover {
	color: #ccebff;
}

a:active {
	color: #89caf5;
}

#startknopf {
    position:absolute;
    top:39%;
    left:0;
    right:0;
}
#Vorschau {
    position:absolute;
    top:39%;
    left:0;
    right:0;
}
#game {
    position:absolute;
    top:39%;
    left:0;
    right:0;
}

#end {
   position:absolute;
   bottom:0.05%;
   left:0;
   right:0;
}

/*
div.startknopf {
	height: 10em;
	position: relative;
}
div.startknopf p {
	margin: 0;
	background: yellow;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
*/
